.card{
  width: 250px;
  margin-top: 90px;
  background-color: #e7e5e5;
  border-radius: 5px;
}


.movie-card {
    width: 250px; 
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .movie-card-image {
    width: 60px;
    height: 150px; 
  }
  
  .poster-image {
    width: 250px;
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
  }

  .movie-card-info {
    color: rgb(205, 114, 30); 
    padding: 16px; 
    border-radius: 8px; 
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .movie-release-date,
  .movie-language {
    font-size: 14px;
    color: #666;
  }
  
  .movie-genres {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  
  .movie-genre {
    background-color: #f0f0f0a2;
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 2px;
  }
  
  .show-details-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }