.botonVenta{
    background-color: rgb(255, 145, 0);
    color: white;
}
.botonVenta:hover{
    background-color: rgb(255, 111, 0);
    color: white;
}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    width: 500px;
    max-width: 90%;
    margin: auto;
    position: absolute;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body .form-label {
    font-weight: bold;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  